<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Check Your Email</title>
</head>
<body>
  <div class="div">
    <h3>Link for reset your password has been send to your email</h3>
    <h2>Please Check Your Email</h2>
  </div>
</body>
</html>